<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065392655221-lgc3va2m8s4m8o5luv2vbrgnjufse0j8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065392655221-lgc3va2m8s4m8o5luv2vbrgnjufse0j8</string>
	<key>API_KEY</key>
	<string>AIzaSyCOYwScGlau-Sk6yMAafwjutYhSU6nqTBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1065392655221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ag.password.saver</string>
	<key>PROJECT_ID</key>
	<string>passkeeper-d8815</string>
	<key>STORAGE_BUCKET</key>
	<string>passkeeper-d8815.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065392655221:ios:3f0555f440ade819e1213c</string>
</dict>
</plist>